{% extends '../home.html' %}
{% load crispy_forms_tags %}





{% block baseBody %}

    <br><br><br><br><br><br>
    <h1 id="welcome">Hello Doctor {{user.username}}! </h1><br><br><br><br><br><br><br><br><br>
    

    <div id="patientBox">
        <h1>Your patient records are:</h1><br><br>

        <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
        </tr>

        
        {% for record in patientList %}
            <tr>
                <td>{{record}}</td>
                <td>{{record.patient_age}}</td>
                <td>{{record.patient_sex}}</td>
            </tr> 
        {% endfor %}
        </table>
    </div>

    <div id="button">
        Going home? or for lunch?<br><br>
        Kindly turn off your service indicator:<br>
        
        <form method="POST">
                {% csrf_token %}

                {% if checkValue %}
                <input type="checkbox" checked name="isServing">
                {% else %}
                <input type="checkbox" name="isServing">
                {% endif %}

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
    </div>


<style>

        input[type="checkbox"]{
        width: 30px; /*Desired width*/
        height: 30px; /*Desired height*/
        }

        body{                
            background-image: url("/static/images/doctorRoom.jpg") !important;
            height: 100%; 
            background-repeat: no-repeat;
            background-size: cover;
            color: aliceblue;
        }

        #welcome{
            text-align: center;
            position: -webkit-sticky;
            position: sticky;
            top: 100px;
            text-transform: uppercase;
            color: rgb(161, 44, 93);
            font-family: "Segoe UI",Arial,sans-serif;
            font-weight: 500;
            text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
            color: white;
            font-size: 30px;
        }

        #button{
            text-align: center !important;
            position: absolute;
            top: 45%;
            left: 60%;
            width: 30%;
            /* border: solid 2px white; */
            border-radius: 10px;
            padding: 20px;
            background: rgb(1, 1, 1); /* Fallback color */
            background: rgba(1, 1, 1, 0.5); /* Black background with 0.5 opacity */
            color: #f1f1f1 !important;
            box-shadow: 0 0 50px black;
        }

        #patientBox{
            text-align: center;
            position: relative;
            top: 15%;
            left: 20%;
            width: 30%;
            /* border: solid 2px white; */
            border-radius: 10px;
            padding: 20px;
            background: rgb(1, 1, 1); /* Fallback color */
            background: rgba(1, 1, 1, 0.5); /* Black background with 0.5 opacity */
            color: #f1f1f1 !important;
            box-shadow: 0 0 50px black;
        }

        table {
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        /* border: 1px solid #dddddd; */
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #504747;
        }

</style>       
{% endblock %}